<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="cloudnote.DAO.MemberMapper">
  	<!-- 중복확인 -->
  	<select id="IDCheck" parameterType="String" resultType="MemberVO">
  		select * from member where m_id = #{m_id}
  	</select>
  
  	<!-- 회원가입 처리 -->
  	<insert id="AddMember" parameterType="MemberVO">
  		insert into member 
  		values( 
  		member_seq.nextval,
  		#{m_id},
  		#{m_password},
  		#{m_name},
  		#{m_phone},
  		#{m_email},
  		#{m_birthdate},
  		#{m_originalfilename},
  		#{m_savedfilename} 
  		)
  	</insert>
  	
  	<!-- 로그인 처리 -->
  	<select id="Login" parameterType="MemberVO" resultType="MemberVO">
  		select * from member
  		where
  		m_id=#{m_id} and
  		m_password=#{m_password}
  	</select>
  	
  	<!-- 친구 찾기(id) -->
  	<select id="SearchFriend" parameterType="String" resultType="MemberVO">
  		select * from member where
  		<choose>
  			<when test="searchType== '아이디'">
  				m_id = 
  			</when>
  			<when test="searchType== '이름'">
  				m_name = 
  			</when>
  			<when test="searchType== '핸드폰번호">
 				m_phone = 				
  			</when>
  		</choose>
  		#{2}
  	</select>
  
  
  	<!-- 친구 추가 -->
  	<insert id="ApplyFriend">
  		insert into friend
  		values(
  		#{1},
  		#{2},
  		'1',
  		'0'
  		)
  	</insert>
  	
  	<!-- 나한테 친구신청한 목록 사람들 보기 App(Application)='신청'-->
  	<select id="searchApp" parameterType="string" resultType="FriendVO">
  		select * from friend
  		where
  		b_response_m_id=#{m_id} and
  		a_consent = '1' and
  		b_consent = '0'
  	
  	</select>
  	
  	<!-- 친구신청 받아주기 -->
  	<update id="ConsentFriend">
  		update friend set 
  		b_consent = '1'
		where
		a_request_m_id=#{1} and
		b_response_m_id=#{2}
  		
  	</update>
  	
  	<!-- 내 친구 리스트 보기 -->
  	<select id="ShowFriend" parameterType="string"  resultType="String">
  		select * from
  		(select * from friend where a_request_m_id =#{m_id} or b_response_m_id=#{m_id})  	
  		where 
  		a_consent = '1' and
  		b_consent = '1'
  	</select>
  	
  	<!-- 친구 삭제하기 -->
  	<update id="ByeFriend" >
  	
  		update friend set
  		a_consent='0'
  	    where a_request_m_id=#{1} and b_response_m_id=#{2}
  		and a_consent ='1' and b_consent='1'
  		
  	</update>
  		
  	<update id="ByeFriend2">	
  		update friend set
  		b_consent='0'
  		where a_request_m_id=#{2} and b_response_m_id=#{1}
  		where a_consent ='1' and b_consent='1'
  	</update>
  	
  </mapper>